
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar{
  background-color: black !important;
}

.nav-link{
  color: white !important;
}

.navbar-brand{
  color: white !important;
}

.navbar.nav{
  margin-right: auto !important;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
}

.room-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.room-card img {
  border-radius: 10px;
  margin-bottom: 30px;
}

.room-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.room-card button:hover {
  background-color: #45a049;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.search-field {
  width: 200px;
}

.date-picker {
  display: flex;
  align-items: center;
}

.date-picker span {
  margin: 0 10px;
  
}

.guest-room-selection {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.guest-room-selection .guests,
.guest-room-selection .rooms {
  display: flex;
  align-items: center;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
}

.search-button {
  background-color: #0056b3; /* Change to any color of your choice */
  color: white; /* White text color */
  padding: 7px 25px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

.search-button:disabled {
  background-color: #dcdcdc;
  cursor: not-allowed;
}

.date-field input {
  text-align: center;  /* Center the selected date */
  width: 80%;         /* Make sure it takes full width */
  padding: 7px;        /* Adjust spacing */
  border-radius: 5px;  /* Rounded corners */
  border: 1px solid #ccc; /* Light border */
}

.available-rooms-title {
  margin-bottom: 50px; /* Adjust this value to move it further down */
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.book-button {
  margin-right: 40px; /* Adjust the value as needed */
}
.price-range-box {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  margin-bottom: 10px;
}


